body {
    height: 100%;
    margin: 0;
    background: #000;
    font-family: Arial, sans-serif;
}

header {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #222831;
    color: #EEEEEE;
}

header p,
h1 {
    margin: 0;
    padding: 20px;
}

nav {
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 15px;
    margin: 0;
    background-color: #393E46;
}

nav a {
    text-decoration: none;
    color: #EEEEEE;
}

nav a:hover {
    color: #979fac;
}

nav li {
    padding: 8px 16px;
}

nav li:first-child {
    margin-left: 40px;
}

main {
    display: flex;
    margin: 0;
    background-color: #EEEEEE;
    align-items: flex-start;
}

.content {
    padding: 20px;
}

article {
    padding: 16px;
    margin: 10px;
    margin-left: 40px;
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    border-radius: 8px;
    color: #222831;
    scroll-margin-top: 70px;
}

article img {
    max-width: 400px;
}

aside {
    margin: 30px;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #DDD;
    border-radius: 8px;
    color: #222831;
    text-align: center;
}

aside img {
    max-width: 300px;
    padding: 10px;
}

img {
    border-radius: 6px;
}

footer {
    margin: 0;
    padding: 20px;
    color: #EEEEEE;
    background-color: #222831;
    text-align: center;

}

@media screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;
    }

    main article,
    aside {
        align-self: center;
    }

}

@media screen and (max-width: 768px) {
    nav ul {
        justify-content: center;
    }

    nav li:first-child {
        margin-left: 0px;
    }
}